body {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

a {
	color: #3258d6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	text-align: center;
	padding: 10px;
	background: #8f8f8f;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

header {
	text-align: center;
}

footer {
	text-align: center;
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}